body {
	background-image: url('gaming.jpg');
	font-family: Helvetica;
	text-align: center;
	background-color: #030876;
	color: #333;
}
.container {
	max-width: 600px;
	margin: auto;
	padding: 20px;
	background-color: #f4f3ff;
	border-radius: 10px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
h1 {
	font-size: 50px;
	color: #007bff;
}
button {
	background-color: #007bff;
	color: white;
	padding: 10px 15px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	border-radius: 5px;
}
button:hover {
	background-color: #0056b3;
}
.result {
	font-size: 18px;
	margin-top: 15px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
	color: #f5fff2;
    background-color: #0b0555;
    width: 120px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}